certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
fastobo==0.12.2
fonttools==4.39.3
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
multiprocess==0.70.14
networkx==3.1
numpy==1.24.3
p-tqdm==1.4.0
packaging==23.1
pathos==0.3.0
Pillow==9.5.0
pox==0.3.2
ppft==1.7.6.6
pronto==2.5.4
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.29.0
scipy==1.10.1
six==1.16.0
tqdm==4.65.0
urllib3==1.26.15
